
<h2>Добавить категорию</h2>
<form method="post", enctype="multipart/form-data" novalidate>
{% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="title" placeholder="Название">
    </div>
    <div class="form-group col-md-6">
      <textarea type="text" class="form-control" name="description" placeholder="Описание"></textarea>
    </div>
    <input type="file" name="image">
  </div>
  <button type="submit" class="btn btn-primary">Создать</button>
</form>