{% extends 'index.html' %}
{% block content %}
<div class="container">
  <h1>Категорія: {{ card.card_title }}</h1>
  <p>{{ card.card_description }}</p>

  {% for post in posts %}
    <div style="border:1px solid #ddd; margin-bottom:10px; padding:10px;">
        <p><strong>Автор:</strong> {{ post.author }}</p>
        <p>{{ post.text }}</p>
        <p><strong>Лайки:</strong> {{ post.likes }}</p>
        <p><strong>Дата:</strong> {{ post.created_at }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info">Перейти до обговорення</a>
    </div>
  {% empty %}
    <p>У цій категорії ще немає постів.</p>
  {% endfor %}
 <a href="{% url 'add_post' pk=card.pk %}" class="btn btn-primary">Додати новий пост</a>
</div>
{% endblock %}