{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Обсуждение: {{ post.text }}</h2>
  <p><strong>Дата:</strong> {{ post.created_at }}</p>

  <form method="post">
    {% csrf_token %}
    <h5>Коментує: {{ user.profile.nickname }}</h5>
    <div class="input-field">
      <textarea name="text" class="materialize-textarea" placeholder="Коментар..." required></textarea>
    </div>
    <button type="submit" class="btn blue">Додати коментар</button>
  </form>





  <hr>
  <h4>Коментарі:</h4>
  {% for comment in comments %}
  <div class="comment-container">
  <div class="comment-header">
    {% if comment.author.profile.profile_avatar %}
      <img src="{{ comment.author.profile.profile_avatar.url }}" class="avatar" >
    {% else %}
      <img src="{% static 'assets/profile_img/default_img.jpg' %}" class="avatar">
    {% endif %}
    <div class="comment-meta">
      <strong>{{ comment.author }}</strong>
      <span class="comment-date"> 👍 {{ comment.likes }} {{ comment.created_at|date:"d.m.Y H:i" }}</span>
    </div>
  </div>
  <p class="comment-text">{{ comment.text }}</p>
  {% if comment.author == user.profile.nickname %}
        <div class="card-action">
          <form method="post" action="{% url 'delete_comment' comment.id %}">
            {% csrf_token %}
            <button type="submit" class="btn red">Видалити</button>
          </form>
          {% endif %}
        </div>
         {% empty %}
    <p>Коментарів поки немає</p>
      {% endfor %}
    
</div>
{% endblock %}

   